@{
    ViewData["Title"] = "Lista [Maestro]";
}

<div class="text-center">
    <h1 class="display-4">Lista</h1>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Creacion</th>
                <th scope="col">Actualizacion</th>
                <th scope="col">Detalle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ListaModel in (List<WebApp.Frontend.Models.Domain.Lista>)ViewData["Lista"])
            {
                <tr>
                    <td>@ListaModel.FechaCreacion</td>
                    <td>@ListaModel.FechaUpdate</td>
                    <td>@ListaModel.Descripcion</td>
                    <td>
                        <a href="/Lista/Edit?id=@ListaModel.ListaId" class="btn btn-info">Editar</a>
                        <a href="/Lista/Detail?id=@ListaModel.ListaId" class="btn btn-light">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>